.displaySection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayurl{
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1rem;
}
.urlSection{
    padding: 2em;
    text-align: center;
    font-family: monospace;
    display: flex;
    margin-top: 5px;
}